.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  max-width: 600px;
  width: 500px;
}

.add-todo__field {
  height: 24px;
  width: 182px;
}
.add-todo__button {
  margin-left: 10px;
  cursor: pointer;
  height: 30px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  height: 150px;
  padding: 0;
}

.todo-list .todo-list__empty {
  font-size: 20px;
}

.todo-list .todo-item {
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  width: 100%;
  text-align: left;
}
.todo-list .todo-item .todo-item__field {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo-list .todo-item.todo-item--completed {
  text-decoration: line-through;
  color: gray;
}

.visibility-filters {
  display: flex;
  justify-content: start;
}

.visibility-filters .visibility-filters__item {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 20px;
}

.visibility-filters .visibility-filters__item--active {
  border: 1px solid salmon;
  color: salmon;
}

.visibility-filters .visibility-filters__item:hover {
  border: 1px solid salmon;
  color: salmon;
}
